/* components/Navigation.module.css */

.nav {
    background-color: #00796b; /* Adjust background color */
    padding: 10px;
  }
  
  .navList {
    list-style: none;
    display: flex;
    justify-content: flex-start; /* Aligns items to the start (left) */
    margin: 0; /* Adjusts left margin to move buttons left */
    padding: 0px; /* Add left padding */
  }
  
  .navList li {
    margin-right: 20px; /* Adds space between links */
  }
  
  .navList li:last-child {
    margin-right: 0; /* No margin on the last item */
  }
  
  .navList li a {
    color: white; /* Link color */
    text-decoration: none; /* No underline */
    padding: 8px 16px; /* Padding for clickable area */
  }
  
  .navList li a:hover {
    background-color: #004d40; /* Darker shade on hover */
    border-radius: 5px; /* Rounded corners on hover */
  }
  